---
import Layout from '../../layouts/layout.astro'
import Spacer from '../../components/spacer.astro'
import TextContainer from '../../components/text-container.astro'
import SectionTrans from '../../components/section-trans.astro'
import TextDoubleImage from '../../components/text-double-image.astro'
import TextSingleImage from '../../components/text-single-image.astro'
import OffsetImages from '../../components/offset-images.astro'
import Line from '../../components/line.astro'
import Testimonial from '../../components/testimonial.astro'
import Conclusion from '../../components/conclusion.astro'
import Footer from '../../components/footer.astro'

const herotextdata = {
	textcontainer: {
		display: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
		body: [
			'Morbi in urna lacinia, gravida leo tincidunt, placerat velit. Suspendisse egestas fermentum finibus. '
		]
	},
	imagecontainer: [{ aspect: 'landscape' }]
}

const offsetimagedata = [{ aspect: 'portrait' }, { aspect: 'portrait' }]

const abouttextdata = {
	subtitle: 'About Claire Juliet Paton',
	display: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
	body: [
		'Morbi in urna lacinia, gravida leo tincidunt, placerat velit. Suspendisse egestas fermentum finibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam rutrum magna tortor, vel fermentum ipsum convallis a. Nullam sollicitudin nibh quis metus viverra tempor. Ut quis imperdiet purus, non interdum ante. In fermentum auctor malesuada.',
		'Morbi in urna lacinia, gravida leo tincidunt, placerat velit. Suspendisse egestas fermentum finibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam rutrum magna tortor, vel fermentum ipsum convallis a. Nullam sollicitudin nibh quis metus viverra tempor. Ut quis imperdiet purus, non interdum ante. In fermentum auctor malesuada.'
	]
}

const textdoubleimage = {
	textcontainer: {
		title: 'About Josh Lastname',
		body: [
			'Morbi in urna lacinia, gravida leo tincidunt, placerat velit. Suspendisse egestas fermentum finibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae. Morbi in urna lacinia, gravida leo tincidunt, placerat velit. Suspendisse egestas fermentum finibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.'
		]
	},
	imagecontainer: [{ aspect: 'portrait' }, { aspect: 'portrait' }]
}

const abouttestimonial = {
	quote: 'I felt so at ease, like we’ve been friends for years!',
	author: 'David & Gail, Glasgow'
}

const aboutconclusion = {
	background: {
		trans: 'peach-200',
		main: 'blue-600'
	},

	textcontainer: {
		subtitle: 'Contact Claire Juliet Paton',
		display: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
		body: [
			'Morbi in urna lacinia, gravida leo tincidunt, placerat velit. Suspendisse egestas fermentum finibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam rutrum magna tortor, vel fermentum ipsum convallis a. Nullam sollicitudin nibh quis metus viverra tempor. Ut quis imperdiet purus, non interdum ante. '
		],
		button: {
			url: '/contact/',
			text: 'Contact Me',
			target: '_self'
		}
	}
}
---

<Layout page="about" classArray={['aboutpage']}>
	<section>
		<div class="page-extra">
			<Spacer />
			<TextSingleImage data={herotextdata} />
			<Spacer />
		</div>
		<div class="page-width">
			<OffsetImages data={offsetimagedata} />
			<Spacer />
			<TextContainer data={abouttextdata} />
			<Spacer />
		</div>
	</section>
	<SectionTrans position="top" color="peach-100" />
	<section class="background-peach-100">
		<div class="page-extra">
			<Spacer />
			<TextDoubleImage data={textdoubleimage} />
			<Spacer />
		</div>
		<Line />
		<div class="page-width">
			<Spacer />
			<Testimonial data={abouttestimonial} />
			<Spacer />
		</div>
	</section>
	<Conclusion data={aboutconclusion} />
	<Footer />
</Layout>
